{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "semi": [
      1,
      "always"
    ],
    "no-undef": [
      1
    ],
    "no-unused-vars": [
      1, {
        "args": "none"
      }
    ],
    "comma-dangle": [
      0
    ],
    "no-console": [
      0
    ],
    "no-empty": [
      0
    ]
  },
  "globals": {
    "angular": false,
    "trivio": false,
    "$": false
  }
}
