{{!-- <ul id="messages"></ul>
<div class="submit-buffer"></div>
<form id="chat-input">
  <input id="m" autocomplete="off" /><button>Send</button>
</form>



<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src='/scripts/socket.js'></script> --}}