<nav class="navbar navbar-light navbar-toggleable-sm bg-faded">
  <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <a ui-sref='home' class="navbar-brand logo">trivio</a>
  <form class="form-inline ml-auto">
    <input type="text" class='form-control mr-sm-2' placeholder='email'>
    <input type="text" class='form-control mr-sm-2' placeholder='password'>
    <button type="submit" class='btn btn-outline-primary my-2'>sign up</button>
  </form>
</nav>
